{% extends 'pages/base.html' %}

{% block content %}



<div class="container mx-auto p-6">
  <div class="checkout-btn-container">
    <a href="{% url 'checkout'  %}" class="my-4 text center px-6 py-3 bg-gray-400 text-white rounded hover:bg-yellow-500">Checkout</a>
  </div>
  <br>
  <div class="grid gap-6 md:grid-cols-3" style="width: 140rem;">
    {% for cart_item in cart_item %}
    <div class="p-6 bg-white shadow-md rounded-lg gap-2 " >
      <div class="flex gap-2">
        <img src="{{ cart_item.product.img.url }}" class="w-40" alt="">
        <h2 class="text-xl font-bold text-gray-800">{{ cart_item.product.title }}</h2>
        <p class="mt-2 text-bg-gray-600">x{{ cart_item.quantity }}</p>
        <p class="mt-1 text-gray-600 font-bold">${{ cart_item.total_price }}</p>
      </div>
      <div class="flex items-center gap-2 justify-around">
        <div class="mt-4 flex flex-col gap-2">
          <form action="{% url 'update_cart' cart_item.id %}" class="flex items-center gap-2" method="post">
            {% csrf_token %}
            <input type="number" name="quantity" value="{{ cart_item.quantity }}" min="1" class="w-16 px-2 py-1 text-sm border  rounded-md focus:ring focus:ring-blue-200">
            <button type="submit" class="px-4 py-1 bg-gray-400 text-white rounded hover:bg-gray-500">Update</button>
          </form>
        </div>
        <a href="{% url 'remove_cart' cart_item.id %}" class="px-4 py-1 text-gray-600 text-center rounded hover:bg-gray-200">
          Remove
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <div class="md:hidden grid gap-6 sm:grid-cols-1">
    {% for cart_item in cart_item %}
    <div class="p-4 bg-white shadow-md rounded-lg">
      <img src="{{ cart_item.product.img.url }}" class="w-full h-auto around-md mb-4" alt="">
      <h2 class="text-lg font-bold text-gray-800">{{ cart_item.product.title }}</h2>
      <p class="mt-2 text-bg-gray-600">Quantity: {{ cart_item.quantity }}</p>
      <p class="mt-1 text-gray-600">Price: ${{ cart_item.total_price }}</p>
      <div class="flex items-center gap-2">
        <div class="mt-4 flex flex-col gap-2">
          <form action="{% url 'update_cart' cart_item.id %}" class="flex items-center gap-2" method="post">
            {% csrf_token %}
            <input type="number" name="quantity" value="{{ cart_item.quantity }}" min="1" class="w-16 px-2 py-1 text-sm border  rounded-md focus:ring focus:ring-blue-200">
            <button type="submit" class="px-4 py-1 bg-yellow-500 text-white rounded hover:bg-yellow-600">Update</button>
          </form>
          <a href="{% url 'remove_cart' cart_item.id %}" class="px-4 py-1 bg-red-500 text-white text-center rounded hover:bg-red-600">Delete</a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock content %}


